<% layout('boilerplate') %>
<div class="panel panel-default">
  <div class="panel-heading">
      <h3>
        <% if(user_id != null) { %>
          <%= user_id %>
        <% } else { %>
          개발 중인 페이지
        <% } %>
      </h3>
  </div>
  <div class="panel-body">
    <% if(user_id != null) { %>
      <a href="/modify" class="btn btn-default">정보수정</a>
      <a href="/logout" class="btn btn-danger">로그아웃</a>
    <% } else { %>
      <a href="/login" class="btn btn-success">로그인</a>
      <a href="/register" class="btn btn-success">회원가입</a>
    <% } %>
  </div>
</div>
