<% layout('boilerplate') %>
<% script('/javascripts/idCheck.js') %>
<% stylesheet('/stylesheets/register.css') %>
<div id="header">
    <h2>
  Node.js Study
</h2>
</div>
<div id="container">
    <form action="/register" method="post" id="registerForm">
      <ul id="register_idpw" class="list-group">
          <li class="list-group-item">
              <input type="text" id="id" name="id" maxlength="20"  class="form-control input-lg int" placeholder="아이디" required />
              <button type="button" id="idCheck" class="btn btn-warning">
                중복확인
              </button>
          </li>
          <li class="list-group-item">
              <input type="password" id="pswd1" name="pswd1" autocomplete="off" class="form-control input-lg int" maxlength="20" placeholder="비밀번호" required />
          </li>
          <li class="list-group-item">
              <input type="password" id="pswd2" name="pswd2" autocomplete="off" class="form-control input-lg int" maxlength="20" placeholder="비밀번호 재확인" required />
          </li>
      </ul>

      <ul id="register_info" class="list-group">
          <li class="list-group-item">
              <input type="text" id="name" name="name" maxlength="20" class="form-control input-lg int" placeholder="이름" required />
          </li>

          <li class="list-group-item">
            <input type="date" id="date" name="birth" maxlength="100" class="form-control input-lg int" placeholder="생년월일" />
          </li>
          <li class="list-group-item">
              <input type="email" id="email" name="email" maxlength="100" class="form-control input-lg int" placeholder="이메일" />
          </li>
          <li class="list-group-item">
              <input type="text" id="tel" name="tel" maxlength="100" class="form-control input-lg int" placeholder="전화번호" />
          </li>
          <li class="list-group-item">
              <input type="text" id="mobile" name="phone" maxlength="100" class="form-control input-lg int" placeholder="휴대전화번호" />
          </li>
      </ul>
      <button type="submit" id="register" class="btn btn-lg btn-primary">가입하기</button>
    </form>
</div>
